@tailwind base;
@tailwind components;
@tailwind utilities;

.side_bar_icon {
    @apply flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white;
}

.dt-info {
    @apply hidden;
}

.dt-paging {
    @apply float-end;
}

.dt-search {
    float: right !important;
}

thead {
    @apply text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400;
}

thead tr th {
    padding: 10px !important;
}

.table-card {
    @apply flex gap-4 p-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700;
}
.datatable-top {
    @apply flex flex-row-reverse items-center justify-between mb-2 py-2 px-1;
}

.datatable-input {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}

.datatable-dropdown label {
    @apply flex items-center gap-3;
}

.datatable-selector {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}
.datatable-container {
    @apply px-1;
}
.datatable-bottom {
    @apply mt-4;
}
.datatable-pagination {
    @apply float-end;
}
.datatable-pagination-list {
    @apply flex gap-2;
}
.datatable-pagination-list-item {
    @apply px-3 py-1 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700;
}

.qr_bg {
    background-image: url("/public/images/qr_bg.png");
}
